.board-columns {
  display: flex;
  flex-grow: 1;

  .board-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 300px;
    margin: 50px;
    padding: 25px;
    background: rgba($color: #ffffff, $alpha: 0.7);

    &:not(:first-child) {
      //to columns have the same distance
      margin-left: 0;
    }
    .column-title {
      font-size: 20px;
      font-weight: 800;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.tasks-container {
  flex-grow: 1;
  height: 100%;
}
