.app-name {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.has-gradient {
  background: -webkit-linear-gradient(#ffffff, #8cdcee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
