.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .sub-navbar {
    display: flex;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(109, 109, 109, 0.75));;
    align-items: center;
    padding: 8px 15px;
    min-height: 45px;

    .sub-navbar-name {
      font-size: 20px;
      color: #ffffff;
    }
  }
  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
  }
}
