<form>
  <div class="task-card">
    <mat-form-field class="input-container">
      <mat-label>My new task is...</mat-label>
      <input
        type="text"
        matInput
        [formControl]="task"
        [errorStateMatcher]="matcher"
        placeholder="Ex: Walk with dog"
      />
      @if (task.hasError('required') || task.hasError('noSpaceAllowed')) {
      <mat-error>Field is <strong>required</strong></mat-error>
      } @if (task.hasError('maxlength')) {
      <mat-error>Max length is <strong>40</strong></mat-error>
      }
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      class="icon-button"
      (click)="addTask()"
    >
      <Icon name="add" />
    </button>
  </div>
</form>
