/* Global style to project */

//Global variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Global styles
html,
body {
  height: 100%;
}

html {
  overflow-y: auto !important;
  background-image: url("./assets/bg.svg");
  background-size: cover;
}